--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.12.0+cu126
torchvision==0.16.0+cu126
torchaudio==2.27.0+cu126
ffmpeg-python
pyannote.audio
git+https://github.com/m-bain/whisperx.git@3.3.2