--index-url https://download.pytorch.org/whl/rocm5.4.2
torch>=2
torchaudio>=2
faster-whisper
transformers
ffmpeg-python>=0.2
pandas
setuptools>=65
nltk
torch==2.0.0+rocm5.4.2
torchvision==0.15.1+rocm5.4.2
torchaudio==2.0.1