--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0+cu128
torchvision==0.23.0+cu128
torchaudio==2.8.0+cu128
ffmpeg-python
pyannote-audio
git+https://github.com/m-bain/whisperx.git@v3.8.5
